<div class="main">
    <span class="material-symbols-outlined" (click)="closeDialog()">
        close
    </span>
    <mat-dialog-content class="mat-typography">
      <div class="calculator">
        <div class="calculator__output">0</div>
        <div class="calculator__keys">
          <button class="calculator__key calculator__key--operator" (click)="takeInput('+')">+</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('-')">-</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('x')">&times;</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('/')">÷</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('%')">%</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('.')">.</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('(')">(</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput(')')">)</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('round')">round</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('ceil')">ceil</button>
          <button class="calculator__key calculator__key--zero" (click)="takeInput('0')">0</button>
          <button class="calculator__key" (click)="takeInput('7')">1</button>
          <button class="calculator__key" (click)="takeInput('8')">2</button>
          <button class="calculator__key" (click)="takeInput('9')">3</button>
          <button class="calculator__key" (click)="takeInput('4')">4</button>
          <button class="calculator__key" (click)="takeInput('5')">5</button>
          <button class="calculator__key" (click)="takeInput('6')">6</button>
          <button class="calculator__key" (click)="takeInput('1')">7</button>
          <button class="calculator__key" (click)="takeInput('2')">8</button>
          <button class="calculator__key" (click)="takeInput('3')">9</button>
          <button class="calculator__key calculator__key--operator" (click)="takeInput('AC')">AC</button>
          <!-- <button class="calculator__key calculator__key--enter">=</button> -->
        </div>
      </div>    
    </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
      </mat-dialog-actions>
</div>